version: "3.3"

services:
  konga:
    image: pantsel/konga
    ports:
      - 1337:1337
    environment:
      - NODE_ENV=production
      - DB_ADAPTER=postgres
      - DB_URI=postgres://konga:kong@kong-database:5432/postgres
