<div class="jumbotron">
    <h1 class="display-4">Sistema Integrado de Gestão Municipal </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Gerenciar IPTU/ITR</h2>
            <p>Esta funcionalidade integrada ao STUR permite que você, funcionário público, realize o upload de dados
                referentes aos IPTUs/ITRs recebidos dos cartórios</p>
            <a class="col-md-12" type="button" class="btn btn-secondary" routerLink="iptu-itr">
                Navegar para »
            </a>
        </div>
        <div class="col-md-4">
            <h2>Funcionalidade 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in elit vestibulum, pellentesque
                mauris vel, gravida metus. Cras ornare ultrices ante, vel scelerisque dui rhoncus a. </p>
            <a class="col-md-12" type="button" class="btn btn-secondary disabled">
                Navegar para »
            </a>
        </div>
        <div class="col-md-4">
            <h2>Funcionalidade 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in elit vestibulum, pellentesque
                mauris vel, gravida metus. Cras ornare ultrices ante, vel scelerisque dui rhoncus a. </p>
            <a class="col-md-12" type="button" class="btn btn-secondary disabled">
                Navegar para »
            </a>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-4">
            <h2>Funcionalidade 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in elit vestibulum, pellentesque
                mauris vel, gravida metus. Cras ornare ultrices ante, vel scelerisque dui rhoncus a. </p>
            <a class="col-md-12" type="button" class="btn btn-secondary disabled">
                Navegar para »
            </a>
        </div>
        <div class="col-md-4">
            <h2>Funcionalidade 5</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in elit vestibulum, pellentesque
                mauris vel, gravida metus. Cras ornare ultrices ante, vel scelerisque dui rhoncus a. </p>
            <a class="col-md-12" type="button" class="btn btn-secondary disabled">
                Navegar para »
            </a>
        </div>
        <div class="col-md-4">
            <h2>Funcionalidade 6</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in elit vestibulum, pellentesque
                mauris vel, gravida metus. Cras ornare ultrices ante, vel scelerisque dui rhoncus a. </p>
            <a class="col-md-12" type="button" class="btn btn-secondary disabled">
                Navegar para »
            </a>
        </div>
    </div>
</div>