.jumbotron {
    background-image: url("../assets/images/jumbotron_02.jpg");
    background-size: cover; 
    border-radius: 0px;   
}

.jumbotron h1, .jumbotron p{
    color: #fff;
}

.bg-dark {
    background-color: #5c8a42 !important;
}